.box-accordion-body.ng-hide-add,
.box-accordion-body.ng-hide-remove {
   -webkit-transition:width 0.5s;
  transition:width 0.5s;
  display:block!important;
  opacity:1;
}

.box-accordion-body.ng-hide {
  opacity:0;
}


.box-accordion-body.ng-hide {
  opacity:0;
}